<div class="iframes">
  <div>
    <h2>Champion</h2>
    <iframe src="<%= url_for(action: :show) %>"></iframe>
  </div>
  <div>
    <h2>Challenger</h2>
    <iframe src="<%= url_for(action: :show, view: :challenger) %>"></iframe>
  </div>
</div>
<%= render 'directory_footer', directory: @directory %>